/* Put generic CSS such as p { font-size: 16px } in here */
/* import background-front from ('/Pictures/Totoropic.png') */

.navbar{
    background-color: pink;
}

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url('client/Pictures/Totoropic.png');
}

