/* Put generic CSS such as p { font-size: 16px } in here */
/* import background-front from ('/Pictures/Totoropic.png') */

.navbar {
    background-color: #78BC61;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

/* body{
    background-image: url("../Pictures/Totoropic.png");
    background-size:auto;
    width: fit-content;
    height: 100vh;
    
    
    background-repeat: no-repeat;
} */